@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.dragable {
  width: 100%;
  height: 20px;
  -webkit-app-region: drag;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
::-webkit-scrollbar {
  display: none;
}
#page {
  display: flex;
  height: 100vh;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  flex-basis: 60px;
  background-color: #202d8b;
  text-align: center;
}
.profile {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  margin: 20px auto;
  background: linear-gradient(#fba141, #ffda2e);
}
.profile p {
  font-weight: 600;
  color: white;
  vertical-align: middle;
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 45px;
}
#power {
  position: absolute;
  bottom: 20px;
  width: 25px;
  left: 50%;
  margin-left: -12.5px;
  cursor: pointer;
  z-index: 100;
}
nav {
  position: fixed;
  top: 0;
  left: 60px;
  bottom: 0;
  width: 180px;
  flex-basis: 180px;
  padding-left: 20px;
  background: linear-gradient(#1b1f80, #253992);
}
nav h1 {
  color: white;
  font-weight: 600;
}
nav h3 {
  color: #6269a0;
  font-weight: 400;
  font-size: 0.9em;
  margin: 35px 0 25px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
ul li {
  color: #6269a0;
  list-style: none;
  margin: 20px 0;
  font-size: 0.95em;
  cursor: pointer;
}
ul img {
  width: 22px;
  margin-right: 12px;
  vertical-align: top;
}
ul .active {
  color: white;
}
main {
  margin-left: 260px;
  width: 100%;
  flex-basis: 70%;
  background: linear-gradient(#f3f6ff, #ffffff);
}
main header {
  padding-left: 15px;
}
main header p {
  color: #9b9da9;
  font-weight: 500;
}
.main {
  padding-left: 15px;
}
.main h2 {
  color: #1400ad;
}
